.container {
    display: flex;
    flex-direction: column;
    border: 3px solid #1c1c21;
    padding: 10px;
    border-radius: 10px;
    background: #62646c;
    color: #fff;
}

.name {
    font-size: 20px;
    font-weight: 600;
}

.link {
    text-decoration: underline;
    position: relative;
}

.link::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url('../../assets/img/arrow.svg');
    background-size: contain;
    top: 5px;
    right: 20px;
    transform: rotate(45deg);
    transition: all 500ms;
}

.link:hover::after {
    right: 0px;
}

